.DS_Store
.env
.env.*
!.env.example

bin/
dist/
build/
coverage/
tmp/
.cache/

node_modules/
*.test
*.prof

apps/studio/frontend/.vite/
apps/studio/frontend/dist/*
!apps/studio/frontend/dist/.gitkeep
apps/studio/studio

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

.idea/
.vscode/
